/*@font-face annvänds för att importera en ny font */
@font-face {
  font-family: Baar;
  src: url(baarprg_.TTF);
} 
/*Love Focus Hate på alla länkar */
a:link {
  color: rgb(255, 255, 255);
}
a:visited{
  color: rgb(238, 224, 206);
}
a:hover{
  color: #808080;
}
a:active{
  color: hsl(192, 40%, 50%);
}
/*Annvänder p:: för att automatiskt lägga till stor bokstav och punkt, förutom på formuläret och footer taggen */
p::after{
  content: ".";
}
form p::after{
  content:" ";
}
footer p::after{
  content:" ";
}
p::first-letter{
  text-transform: capitalize;
}
/* * annvänds för att göra så att alla element har samma font familj och liknande */
* {
  font-family: Baar;
  padding: 0;
  margin: 0;
  /*Jag har border-box för att se till att bordern blir korrekt storlek*/
  box-sizing: border-box;
}
/* Annvänder flex för att orientera elementet samt sakerna i */
header {
  padding-left: 5ex;
  height: 7rem;
  display: flex;
  /*Har space-between för att separera a taggarna i header menyn */
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  margin-bottom: 5rem;
}
/*Har en alt till flera css då elementet automatikst annvänder CSS från åvan, då har jag en class som strycker över CSS:en, med t.ex. unset och 0 på allt */
.head-alt{
  padding-left: 0;
  height: 0;
  display: unset;
  justify-content: unset;
  margin-bottom: 0;
  color: rgb(0, 0, 0);
}
ul{
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul a{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
ul li{
  padding: 5px;
  margin-left: 10px;
  transition: 0.4s;
}
/*Har ul CSS med en hover, för att få den att bli lite större när man har musen över */
ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
/*Har en hamburger icon, vilket är den globala menyn när skärmen är liten */
#hamburger-icon {
  margin: auto 0;
  display: none;
  /*Cursor pointer gör så att man kan se att det går att klicka på iconen*/
  cursor: pointer;
}
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: hsl(192, 40%, 100%);
  margin: 6px 0;
  transition: 0.4s;
}
/*Annvänder animation med webkit transfom och transform */
.open .bar1 {
-webkit-transform: rotate(-45deg) translate(-6px, 6px);
transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5rem;
}
.mobile-menu {
  display: none;
  position: absolute;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 7rem;
  left: 0;
  height: 10vh;
  width: 100%;
}
.mobile-menu li{
  margin-bottom: 10px;
}
a{
  font-size: 5vmin;
}
nav{
  margin-right: 33%;
}
/*Har en first of type så att loggan alltid har samma CSS på alla sidor */
img:first-of-type{
  height: 7rem;
  width: 8rem;
  margin-left: -35px;
}
.main-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}
.grid-item-one{
  grid-column: 1;
  text-align: center;
}
.grid-item-two{
  grid-column: 3;
  text-align: center;
}
.grid-item-three{
  grid-column: 2;
  text-align: center;
}
/*Annvänder position absolute för att se till att den stannar längst ner med bottom:0; */
footer{
  bottom: 0;
  position: absolute;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: hsl(192, 40%, 100%);
  padding-left: 40%;
  padding-right: 35.35%;  
}
/*Har igen massa unset och none, så att de footer element som inte ska ha CSS:en ovan inte ska få den */
.foot-alt{
  bottom: unset;
  position: unset;
  background-color: rgb(255, 255, 255);
  text-align: unset;
  color: rgb(0, 0, 0);
  padding-left: 0;
  padding-right: 0;  
}
p{
  font-size: 1.4rem;
}
.h2{
  font-size: 45px;
  color: rgb(136, 43, 223);
  background-color: rgb(255, 125, 78);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
/*Gör så att både th, td och table har en border */
th, td, table{
  border: black solid 1px;
  background-color: inherit;
  font-size: 20px;
  padding: 4px;
}
table{
  grid-column: 2;
}
article{
  border: black 1px solid;
}
caption{
  font-size: 4rem;
}
/*Här har jag zebra striping med nth-child odd och even i en tabell */
td:nth-child(odd){
  background-color: rgb(78, 75, 75);
}
td:nth-child(even){
  background-color: rgb(128, 126, 126);
}
th:nth-child(odd){
  background-color: rgb(129, 128, 128);
}
th:nth-child(even){
  background-color: rgb(94, 85, 85);
}
.länk-låda{
  border: black solid 1px;
  border-radius: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -60px;
}
.länk-låda a{
  border: rgb(0, 0, 0) solid 1px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  transition: 1.4s;
}
.länk-låda a:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: scale(1.03);
  transition: 0.3s;
}
dl{
  text-align: left;
  font-size: 1.5rem;
}
iframe{
  width: 100%;
  height: 315px;
  padding: 5px 5px 5px 5px;
}
.form-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.form-item1{
  grid-column: 1;
}
.form-item2{
  grid-column: 2;
}
.form-item3{
  grid-column: 3;
}
/*Jag har en textarea med optional, så att bara en textarea som är optional har CSS, om den är required så kommer den inte ha den här CSS:en */
textarea:optional{
  background-color: rgb(0, 126, 126);
  color: yellow;
}
.lösenord{
  margin-top: 20px;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.submit{
  grid-column: 1;
  margin-top: 20px;
  height: 60px;
  font-size: 1.78em;
}
.button:link{
  color: blue;
}
.thank-img:first-of-type{
  margin-left: 0;
  height: 500px;
  width: 500px;
}
video{
  width: 540px;
  height: 315px;
}
/*Har två @media eftersom att sidan går sönder om man börjar minimera den, så jag har en vid 1257px för att stapla alla columber under varandra och 
sen en vid 861px för att ändra på huvud navigationen, eftersom att man kan fortförande klicka på den över 861px */
@media only screen and (max-width: 1257px){
  .main-grid{
    grid-template-columns: 100%;
  }
  .grid-item-one{
    grid-column: 1;
    text-align: center;
    position: relative;
    align-items: center;
  }
  .grid-item-two{
    grid-column: 1;
  }
  .grid-item-three{
    grid-column: 1;
  }
  footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    padding-left: 50%;
    padding-right: 50%;
    margin-left: -22%;
  }
  p{
    font-size: 1rem;
  }
  table{
    grid-column: 1;
  }
}
/*Annvänder media för att den ska ändra CSS när skärmen är mindre än 861px för att göra sidan enklare att se på mobilen */
@media only screen and (max-width: 861px) {
  header nav {
    display: none;
  }
  header{
    margin-bottom: 13rem;
  }
  #hamburger-icon {
    display: block;
  }
  .form-grid{
    grid-template-columns: 1fr;
  }
  a{
    font-size: 4vmin;
  }
  .länk-låda{
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .form-item2{
    grid-column: 1;
  }
  .form-item3{
    grid-column: 1;
  }
}